In [1]:
import pandas as pd
df = pd.read_csv("2021_10_22_16_26_07pos.csv")
df.head()

,time,temp_lid,temp_well,well_1,well_2,well_3,well_4,well_5,well_6,well_7,well_8,well_9,well_10,well_11,well_12,well_13,well_14,well_15,well_16
0,16:40:56,97.6,63.46,56,65,96,99,71,75,86,71,49,86,66,64,104,62,83,78
1,16:41:26,98.3,63.46,56,65,98,99,70,75,86,70,48,86,65,60,104,61,83,77
2,16:41:57,98.3,63.56,55,64,98,99,70,69,85,69,49,86,65,61,104,61,83,77
3,16:42:25,98.5,63.46,55,64,99,99,70,69,85,70,49,87,65,60,103,67,82,78
4,16:42:56,98.5,63.46,55,64,96,98,71,69,85,68,48,86,64,60,104,61,83,78

In [2]:
for i in range(1,17,1):
    
 print(df["well_"+str(i)].rolling(window=6).mean())

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
        ...
95    71.000000
96    74.500000
97    78.333333
98    82.666667
99    87.666667
Name: well_1, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    184.333333
96    184.666667
97    184.833333
98    185.166667
99    185.666667
Name: well_2, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    199.666667
96    200.000000
97    200.500000
98    200.833333
99    201.333333
Name: well_3, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    200.166667
96    200.666667
97    201.000000
98    201.333333
99    201.833333
Name: well_4, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    201.666667
96    202.000000
97    202.333333
98    202.666667
99    203.166667
Name: well_5, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    204.666667
96    205.000000
97    205.166667
98    205.333333
99    205.666667
Name: well_6, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    194.000000
96    194.333333
97    194.666667
98    195.000000
99    195.333333
Name: well_7, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    213.166667
96    213.333333
97    213.500000
98    213.500000
99    213.666667
Name: well_8, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    188.166667
96    188.666667
97    189.000000
98    189.500000
99    189.833333
Name: well_9, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    191.666667
96    192.000000
97    192.500000
98    192.833333
99    193.500000
Name: well_10, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    206.000000
96    206.333333
97    206.500000
98    206.666667
99    207.000000
Name: well_11, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    195.166667
96    195.500000
97    195.833333
98    196.166667
99    196.666667
Name: well_12, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    214.833333
96    215.166667
97    215.333333
98    215.500000
99    215.833333
Name: well_13, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    192.333333
96    192.666667
97    193.000000
98    193.333333
99    193.666667
Name: well_14, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    193.666667
96    194.000000
97    194.500000
98    194.833333
99    195.333333
Name: well_15, Length: 100, dtype: float64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
95    184.833333
96    185.166667
97    185.333333
98    185.666667
99    186.000000
Name: well_16, Length: 100, dtype: float64