In [1]:
import pandas as pd
df = pd.read_csv('cali_factor.csv')
df.loc[0,'well1']

,well1,well2,well3,well4,well5,well6,well7,well8,well9,well10,well11,well12,well13,well14,well15,well16
0,151,145,151,136,141,153,144,136,151,136,114,122,132,139,130,144